<section class="vbox">
    <section class="w-f scrollable">
        <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
            <!-- nav -->
            <nav class="nav-primary hidden-xs">
                <ul class="nav">
                    @*<li class="menuitem"><a href="/home/index"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>داشبورد</span></a></li>*@

                    <li id="infoLi" class="menuitem">
                        <a href="#">
                            <i class="fa fa-bars icon"><b class="bg-info"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت اطلاعات پایه</span>
                        </a>
                        <ul class="nav lt">
                            <li>
                                <a href="/productgroups">
                                    <i class="fa fa-angle-left"></i><span>مدیریت گروه محصولات</span>
                                </a>
                            </li>
                            <li>
                                <a href="/ProductThemes">
                                    <i class="fa fa-angle-left"></i><span>مدیریت موضوع</span>
                                </a>
                            </li>
                            <li>
                                <a href="/ProductMediums">
                                    <i class="fa fa-angle-left"></i><span>مدیریت سبک</span>
                                </a>
                            </li>
                            <li>
                                <a href="/ProductOrientations">
                                    <i class="fa fa-angle-left"></i><span>مدیریت Orientations</span>
                                </a>
                            </li>
                            <li>
                                <a href="/ProductTypes">
                                    <i class="fa fa-angle-left"></i><span>مدیریت تکنیک</span>
                                </a>
                            </li>

                            <li>
                                <a href="/Productcolors">
                                    <i class="fa fa-angle-left"></i><span>مدیریت رنگ ها</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menuitem" id="productLi"><a href="/products"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت محصولات</span></a></li>
                    <li class="menuitem" id="discountLi"><a href="/discountcodes"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت کدهای تخفیف</span></a></li>





                    <li id="userLi" class="menuitem"><a href="/users"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت کاربران</span></a></li>
                    <li id="sellersLi" class="menuitem"><a href="/sellers"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت فروشندگان</span></a></li>
                    <li id="blogLi" class="menuitem">
                        <a href="#">
                            <i class="fa fa-bars icon"><b class="bg-info"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت بلاگ ها</span>
                        </a>
                        <ul class="nav lt">
                            <li>
                                <a href="/BlogCategories">
                                    <i class="fa fa-angle-left"></i><span>مدیریت گروه بلاگ</span>
                                </a>
                            </li>
                            <li>
                                <a href="/blogs">
                                    <i class="fa fa-angle-left"></i><span>مدیریت بلاگ</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menuitem" id="sliderLi"><a href="/Sliders"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت اسلایدها</span></a></li>
                    <li id="textLi" class="menuitem">
                        <a href="#">
                            <i class="fa fa-bars icon"><b class="bg-info"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت متن ها</span>
                        </a>
                        <ul class="nav lt">
                            <li>
                                <a href="/texts/index/1579f5fd-6ee3-4483-9f59-3bfe19e8711d">
                                    <i class="fa fa-angle-left"></i><span>درباره ما صفحه اصلی</span>
                                </a>
                            </li>
                            <li>
                                <a href="/texts/index/3765c9b3-7c3e-4ac9-a107-aa1b34d75a61">
                                    <i class="fa fa-angle-left"></i><span>درباره ما فوتر</span>
                                </a>
                            </li>
                            <li>
                                <a href="/texts/index/23a913da-6c09-497c-9496-e4754ee9c44b">
                                    <i class="fa fa-angle-left"></i><span>متن بنر وسط صفحه اصلی</span>
                                </a>
                            </li>
                            <li>
                                <a href="/texts/index/7d65a361-7ba4-4ae0-90ae-b6fd8efa3e56">
                                    <i class="fa fa-angle-left"></i><span>آدرس</span>
                                </a>
                            </li>
                            <li>
                                <a href="/texts/index/34e4c033-f9df-497e-8972-54bc22ab7af1">
                                    <i class="fa fa-angle-left"></i><span>تلفن</span>
                                </a>
                            </li>
                            <li>
                                <a href="/texts/index/887c7c4f-5dd3-4219-b799-e475dd207425">
                                    <i class="fa fa-angle-left"></i><span>ایمیل</span>
                                </a>
                            </li>
                            <li>
                                <a href="/texts/index/35ff8b0b-cd7b-41ff-98f3-c7bf8131caf1">
                                    <i class="fa fa-angle-left"></i><span>متن بالای فروشندگان صفحه اصلی</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menuitem" id="orderLi"><a href="/Orders"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت سفارشات</span></a></li>

                </ul>

            </nav>
        </div>
    </section>
</section>
