
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<div class="text-center about row">
    <h4>About Bonian</h4>
    <div class="tab">Buy From Bonian</div>
    <div class="tab">Bonian Mag</div>
    <div class="tab">Archive</div>
</div>
<div>
    <div class="profile-name">About Bonian</div>
    <div class="description">
        <p>The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.</p>
        <p>The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.</p>
        <p>The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.</p>

    </div>
</div>
