
@{
    ViewBag.Title = "Author";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<div class="authorMain">
  <div>  <img src="~/images/gallery01.jpg"/></div>
    <a href="#">Vahid Chamani</a>
    <p class="mrt20 justify color-silver">The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.</p>
    <p class="justify color-silver">The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.</p>
    <p class="justify color-silver">The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.</p>
    <p class="justify color-silver">The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.</p>
    <p class="justify color-silver">The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.</p>
    <p class="justify color-silver">The description is in this section.The description is in this section.The description is in this section.The description is in this section.The description is in this section.</p>


</div>
