
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<div class="gallery-detail">
    <img src="~/images/gallery01.jpg"/>
    <a href="/author">Vahid Chamani</a><span class="rfloat"><i class="fa fa-2x fa-heart-o"></i></span>
    <p class="color-silver mrt10"><span>137x197 / 2019</span></p>
    <p class="color-silver">oil on canvas</p>
    <div class="mrt40 mrb40"><span class="price">$3500</span><button class="btn-shopping">Buy</button></div>

    <h4 class="author-title">About Vahid</h4>
    <p class="color-silver justify">Description comes here.Description comes here.Description comes here.Description comes here.Description comes here.Description comes here.Description comes here.</p>
    <div class="readmore"><a href="/author">More</a></div>
</div>
