@model ViewModels.HomeViewModel
@{
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
    ViewBag.Title = "Bonian foundation";
}


<div class="gallery-monstry">
    @foreach (var product in Model.Products)
    {
        <div class="gallery-ls">
            <a href="/product/@product.Code">@product.Artist.FullNameSrt</a>
            <a href="/product/@product.Code"><img src="@product.ImageUrl" /></a>
        </div>
    } 
</div>

