@{
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
    ViewBag.Title = "Home";
}


<div class="gallery-monstry">
    <div class="gallery-ls">
        <a href="/author">Vahid Chamani</a>
        <a href="/Details"><img src="~/images/gallery01.jpg" /></a>
    </div>
    <div class="gallery-ls">
        <a href="/author">Vahid Chamani</a>
        <a href="/Details"><img src="~/images/gallery02.jpg" /></a>
    </div>
    <div class="gallery-ls">
        <a href="/author">Vahid Chamani</a>
        <a href="/Details"><img src="~/images/gallery01.jpg" /></a>
    </div>
    <div class="gallery-ls">
        <a href="/author">Vahid Chamani</a>
        <a href="/Details"><img src="~/images/gallery02.jpg" /></a>
    </div>
</div>

