
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Desktop</title>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body style="min-height:200px;">
    <div class="text-center" style="margin-top:50px;">
       <h1> دسترسی به این سامانه فقط از طریق تلفن های هوشمند مقدور می باشد</h1>
    </div>
</body>
</html>
