@model ViewModels.HomeViewModel
@{
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
    ViewBag.Title = "Home";
}


<div class="gallery-monstry">
    @foreach (var product in Model.Products)
    {
        <div class="gallery-ls">
            <a href="/artist/@product.Code">@product.Artist.FullNameSrt</a>
            <a href="/product/@product.Code"><img src="@product.ImageUrl" /></a>
        </div>
    }
    
    @*<div class="gallery-ls">
        <a href="/author">Vahid Chamani</a>
        <a href="/Details"><img src="~/images/gallery02.jpg" /></a>
    </div>
    <div class="gallery-ls">
        <a href="/author">Vahid Chamani</a>
        <a href="/Details"><img src="~/images/gallery01.jpg" /></a>
    </div>
    <div class="gallery-ls">
        <a href="/author">Vahid Chamani</a>
        <a href="/Details"><img src="~/images/gallery02.jpg" /></a>
    </div>*@
</div>

