
@{
    ViewBag.Title = "Like";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<div class="profile-body">
    <div class="profile-name">Like Items</div>
    <div class="user-extention">
        <div class="mid-height">
            <div class="col-xs-11 no-padding">
                <div class="col-xs-4 no-padding carousel-item">
                    <img src="~/images/gallery01.jpg" />
                    <a href="/author">Vahid Chamani</a>
                    <p class="extention-price">3500$</p>
                </div>
                <div class="col-xs-4 no-padding carousel-item">
                    <img src="~/images/gallery01.jpg" />
                    <a href="/author">Vahid Chamani</a>
                    <p class="extention-price">3500$</p>
                </div>
                <div class="col-xs-4 no-padding">
                    <img src="~/images/gallery01.jpg" />
                    <a href="/author">Vahid Chamani</a>
                    <p class="extention-price">3500$</p>
                </div>
            </div>
            <div class="col-xs-1 main-next">
                <div class="next">
                    <i class="fa fa-2x fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="like-list">
        <div class="text-center margin-bottom15">
            <div class=""><a href="/author">Vahid Chamani</a></div>
            <img src="~/images/gallery01.jpg" />
        </div>
        <div class="text-center margin-bottom15">
            <div class=""><a href="/author">Vahid Hosseinpour</a></div>
            <img src="~/images/gallery02.jpg" />
        </div>
    </div>
</div>
