@model ViewModels.UserLikeViewModel

@{
		ViewBag.Title = "Liked";
		Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}
<div class="profile-body">
 

 
	<div class="profile-name">My Artwork</div>
	<div class="user-extention">
		<div class="row">
			@foreach (var like in Model.UserProductsLikes)
			{
					<div class="col-xs-4">
						<a href="/product/@like.Product.Code"> <img src="@like.Product.ImageUrl" /></a>
						<a href="/product/@like.Product.Code">@like.Product.Artist.FullNameSrt</a>
						<p class="extention-price">@like.Product.AmountStr</p>
					</div>
			}
		</div>
	</div>

 
</div>
 