
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<div class="profile-body">
    <div class="profile-name">Hossein Babaei</div>
    <div class="profile-main">
        <div class="row profile-info">
            <div class="col-xs-4">Fulname</div>
            <div class="col-xs-8 text-right">Hossein Babaei<i class="fa fa-pencil"></i></div>
        </div>
        <div class="row profile-info">
            <div class="col-xs-4">Email</div>
            <div class="col-xs-8 text-right">babaei.aho@gmail.com<i class="fa fa-pencil"></i></div>
        </div>
        <div class="row profile-info">
            <div class="col-xs-4">Phone</div>
            <div class="col-xs-8 text-right">+ 98 912 480 64 04<i class="fa fa-pencil"></i></div>
        </div>
        <div class="row profile-info">
            <div class="col-xs-4">Password</div>
            <div class="col-xs-8 text-right">Change Password<i class="fa fa-pencil"></i></div>
        </div>
    </div>
    <div class="profile-name">Favorits|Save|Follows</div>
    <div class="user-extention">
        <div class="row">
            <div class="col-xs-4">
                <img src="~/images/gallery01.jpg" />
                <a href="/author">Vahid Chamani</a>
                <p class="extention-price">3500$</p>
            </div>
            <div class="col-xs-4">
                <img src="~/images/gallery01.jpg" />
                <a href="/author">Vahid Chamani</a>
                <p class="extention-price">3500$</p>
            </div>
            <div class="col-xs-4">
                <img src="~/images/gallery01.jpg" />
                <a href="/author">Vahid Chamani</a>
                <p class="extention-price">3500$</p>
            </div>
        </div>
    </div>
    <div class="logout"><button class="btn-default">Log out</button></div>
</div>
