@font-face {
    font-family: 'Blinker-Bold';
    src: url('../fonts/blinker/Blinker-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Blinker-Regular';
    src: url('../fonts/blinker/Blinker-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Blinker-SemiBold';
    src: url('../fonts/blinker/Blinker-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'DIN Alternate Bold';
    src: url('../fonts/blinker/DIN Alternate Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'PowerChord';
    src: url('../fonts/blinker/PowerChord.ttf') format('truetype');
}

body {
    font-family: Blinker-Regular;
}


.top-space {
    height: 5%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #fff
}
.bottom-space {
    height: 25px; width: 100%; position: fixed; bottom: 0; background-color: #fff
}
.tabbar {
    position: fixed;
    background: #fff;
    padding: 0 10px;
    bottom: 0;
    width: 90%;
    left: 5%;
    bottom: 25px;
    border: 1px solid #000;
}

.header {
    position: fixed;
    background: #000;
    padding: 10px;
    top: 0;
    width: 100%;
    min-height: 40px;
}

a {
    color: #999;
}

.active {
    color: #000;
}

.profile-card {
    background: #000;
    width: 90%;
    text-align: right;
    padding: 1px 0 1px 15px;
    height: 33px;
    position: fixed;
    color: #fff;
    text-align: center;
    left: 5%;
    top: 25px;
    z-index: 1000;
}

    .profile-card:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        border-top: 20px solid #fff;
        border-right: 20px solid #000;
        width: 0;
    }
.middle-row {
    padding: 8px 5.5%;  
}.main-body {
    min-height: 650px;
    background: #fff;
    width: 100%;
    /*padding: 15px 35px;*/
    margin-top: 50px;
    margin-bottom: 50px;
     border-left: 1px solid #000;
     border-right: 1px solid #000;
     padding-bottom: 40px;
     padding-right: 10px;
     padding-left: 10px;
}

.login-input {
    width: 100%;
    height: 33px;
    padding: 10px !important;
}
.login-input-for-area {
    width: 100%;
    height: 93px;
    padding: 10px !important;
}

.btn-login {
    padding: 6px 10px;
    width: 100%;
    background: #000;
    color: #fff;
    border: none;
    font-family: Blinker-SemiBold;
}

.gallery-ls {
    padding-top: 20px;
    /*margin-bottom: 15px;*/
    text-align: center; 
}

    .gallery-ls a {
        color: #000;
        font-size: 16px;
        font-weight: 800;
        border-bottom: 3px solid;
    }

    .gallery-ls img {
        margin-top: 12px;
        width: 100%;
    }
.gallery-detail {
    padding-top: 10px;
}.gallery-detail img {
    margin-bottom: 6px;
}

.gallery-detail a {
    color: #000;
    font-size: 20px;
    /*font-weight: 800;*/
    border-bottom: 7px solid;
    font-family: Blinker-Bold;
    padding-bottom: 3px;
}

.color-silver {
    color: silver;
}

.color-red {
    color: #000;
}

.mrt10 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.mrt20 {
    margin-top: 20px;
}
.ddl-lang {
    float: left;
    width: 10%;
    height: 42px;
}
    .ddl-lang select {
        border: 1px solid #000;
        padding: 1px;
        height: 42px;
    }


.audio-item { 
    border: 1px solid #000;
    font-family: Blinker-SemiBold;
    width: 86%;
    font-family: Blinker-SemiBold;
    float: right;
    height: 42px;
}

.ddl-currency {
    float: left;
    width: 26%;

}
    .ddl-currency select {
        border: 1px solid #000;
        padding: 8px;
    }
    audio {
        background-color: #000;
    }
        audio :-webkit-media-controls-panel {
            background-color: #000;
        }
.price {
    padding: 7px 10px;
    border: 1px solid #000;
    font-family: Blinker-SemiBold;
    width: 34%;
    font-family: Blinker-SemiBold;
    float: left;
    height: 36px;
}


.btn-shopping {
    padding: 8px 10px;
    width: 40%;
    background: #000;
    color: #fff;
    border: none;
    font-family: Blinker-SemiBold;
    float: left;
    height:36px;
}
.clear{
    clear:both;
}
.detail-height{
    min-height:36px;
}
.author-title {
    margin: 20px 0;
    /*font-weight: 800;*/
    font-family: Blinker-SemiBold;
}

.justify {
    text-align: justify;
}

.readmore {
    color: #000;
    font-size: 16px;
}

.gallery-detail .readmore {
    text-align: center;
    font-family: Blinker-Regular;
}

    .gallery-detail .readmore a {
        /*font-weight: 600;*/
        border-bottom: 2px solid #000;
        font-family: Blinker-Regular;
        font-size: 16px;
        padding-bottom: unset;
    }

.rfloat {
    float: right;
}

.gallery-detail img {
    width: 100%;
}

.authorMain {
    padding-top: 10px;
}
.authorMain img {
    width: 40%;
    margin-bottom: 10px;
}

.authorMain p {
    margin-bottom: 0;
    text-align: justify;
}

.authorMain a {
    color: #000;
    font-size: 20px;
    /*font-weight: 800;*/
    font-family: Blinker-Bold;
    border-bottom: 3px solid;
}

.profile-name-get {
    background: #000;
    color: #fff;
    padding: 4px 10px;
    text-align: left;
    /*font-weight: 700;*/
    font-size: 18px;
    font-family: Blinker-Bold;
    width: 85%;
}

.profile-name {
    background: #000;
    color: #fff;
    padding: 4px 10px;
    text-align: center;
    /*font-weight: 700;*/
    font-size: 18px;
    font-family: Blinker-Bold;
}

.profile-info {
    padding: 5px 15px;
    /*font-weight: 700;*/
    border: 1px solid #ddd;
    margin-right: 0;
    margin-left: 0; 
}
 
.profile-info a{
    color: #000;
}
 
.text-right {
    text-align: right;
}

.profile-info i {
    margin-left: 5px;
}
.profile-info .col-xs-4 {
    padding-left: 0;
}
.profile-info .col-xs-8 {
    padding-right: 0;
}

.bt0 {
    border-bottom: 0;
}
.btblack {
    border-top-color: #000000;
}
.profile-main {
    margin: 20px 0;
}

.profile-body {
    margin: 30px 0px;
    padding-top: 10px;
}

.user-extention {
    margin: 20px 0;
}

    .user-extention img {
        width: 100%;
    }

    .user-extention a {
        color: #000;
        font-size: 12px;
        font-family: Blinker-Bold;
        border-bottom: 2px solid;
    }

.extention-price {
    font-size: 12px;
    color: silver;
}

.btn-default {
    padding: 10px;
    background: #000;
    color: #fff;
    border: none;
    font-family: Blinker-Bold;
    font-size: 18px;
}

.logout {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    height: 40px;
    padding-right: 50px;
    padding-left: 50px;
}

input[type="submit"] {
    margin-left: -50px;
    height: 20px;
    width: 50px;
}

.mrl30 {
    margin-left: -30px;
}

.main-search {
    margin: 40px 0;
}

    .main-search img {
        width: 65px;
        margin-right: 10px;
    }

    .main-search a {
        font-size: 16px;
        color: #000;
        font-family: Blinker-SemiBold;
    }

.margin-bottom15 {
    margin-bottom: 15px;
}

.main-next {
    height: 100px;
    text-align: right;
    direction: rtl;
    padding: 0;
}

.next {
    height: 100px;
    background: #000;
    color: #fff;
    vertical-align: middle;
    width: 20px;
}

    .next i {
        margin-top: 28px;
        padding: 4px;
    }

.mid-height {
    height: 100px;
}

.no-padding {
    padding: unset;
}

.carousel-item {
    padding-right: 10px;
}

.like-list img {
    width: 100%;
    margin-top: 20px;
}

.like-list {
    margin: 30px 0;
}

.text-center {
    text-align: center;
}

    .text-center a {
        color: #000;
        font-size: 18px;
        font-family: Blinker-Bold;
        border-bottom: 7px solid;
    }

.about {
    margin-bottom: 20px;
}

    /*.about h4 {
        font-weight: 700;
    }*/

    .about .tab {
        margin: 10px 0;
        font-size: 18px;
        font-family: Blinker-SemiBold;
        color: silver;
    }

.description {
    margin: 20px 0;
}

    .description p {
        text-align: justify;
        color: silver;
    }

.active {
    color: #000;
}

.lfloat {
    float: left;
}

.tabbar div {
    padding: 10px 0;
    border-right: 1px solid #000;
    text-align: center;
}

    .tabbar div:last-child {
        border-right: unset;
    }

.col-mb-3 {
    width: 20%;
    float: left;
}

.fa-telegram {
    background-image: url('../images/telegram.jpg');
}

.mrt40 {
    margin-top: 40px;
}

.mrb40 {
    margin-bottom: 40px;
}

input[type="text"] {
    height: 33px;
    font-size: 16px;
    font-family: Blinker-SemiBold;
}

.about h4 {
    font-family: Blinker-SemiBold;
}

.about div.active{
    color:#000;
}
.tablinks {
    cursor:pointer;
}
.profile-input {
    border: none;
    background: #fff;
    text-align: right;
    direction: ltr;
}
.hd-field{
    display:none;
}
.mrg-right20{
    margin-right:20px;
}
.pd-right5{
    padding-right:5px;
}
#comment-succes, #comment-reject
{
    display:none;
}
.mrg-right19{
    margin-right:19px;
}

.mag-item {
    direction: rtl;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

    .mag-item .mag-title {
        margin-top: 5px;
    }
    .mag-item .mag-title a{
        color: #000;
    }

.blog-detail {
    direction: rtl;
    text-align: center;
    padding-top: 12px;
}
    .blog-detail .blog-detail-title {
        margin-bottom: 5px;
        font-size: 16px;
    }


.user-message {
    width: 100%;
    margin-bottom: 10px;
}

.message-item-card {
    border: 1px solid #000;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
}
    .message-item-card .message-item-btn {
        margin-top: 20px;
        margin-bottom: 10px;
    }

#bergur-button {
    position: fixed;
    bottom: 70px;
    right: 20px;
}

.jp-audio {
    width: 100%;
    border: none;
}

    .jp-audio .jp-type-single .jp-progress {
        left: 75px;
        width: 60%;
    }

    .jp-audio .jp-controls {
        width: 90%;
    }
.jp-play {
    height: 30px;
    width: 30px;
    background: url('Jplayer/image/play.png') no-repeat;
}
.jp-interface {
    background-color: #fff;
}.jp-audio .jp-progress {
    top: 14px;
}
.jp-audio .jp-controls {
    padding: 4px 20px 0;
}
.jp-audio .jp-interface, .jp-audio-stream .jp-interface {
    height: 38px;
}

.searchbox {
    position: relative;
    margin-top: 15px;
}
    .searchbox .btn-search {
        position: absolute;
        left: 0;
        top: 5px;
        background: none;
        border: none;
    }
    .searchbox .btn-search img{
        width: 20px;
    }

.search-body {
    padding-top: 25px;
}


.profile-input-edit {
    border: 1px solid #000;
    background: #fff;
    text-align: left;
    direction: ltr;
    padding: 4px !important;
}

.log-typo {
    color: #fff !important;
    text-decoration: none;
    font-weight: 100;
    font-size: 20px !important;
    font-family: PowerChord !important;
    border-bottom: none !important;
}

.profile-header {
    margin-right: 0;
    margin-left:0;
}
    .profile-header .edit-profile-icon {
        background-color: #000;
        float: right;
        height: 33px;
        padding-top: 6px;
        width: 12%;
    }
    .profile-header .edit-profile-icon i{
        color: #fff;    }

.modal {
    top: 200px;
}
.modal-content {
    background-color: #000000;
    color: #fff;
    border-radius: 0;
}
    .modal-content:after {
        content: '';
        position: absolute;
        bottom: 0px;
        right: 0px;
        border-top: 20px solid #000;
        border-right: 20px solid rgba(255, 255, 255, 0.5);
        width: 0;
        
    }

.notif-list a {
    text-decoration: none !important;
    color: #535353 !important;
    cursor: pointer;
    border-bottom: none;
}
.notif-list ul {
    color:#535353 !important;
}
.notif-list li {
    color: #535353 !important;
}