@model ViewModels.ArtistDetailViewModel
@{
    ViewBag.Title = Model.Artist.FullName;
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<div class="authorMain">
    <div>  <img src="@Model.Product.ImageUrl" /></div>
    <a href="#">@Model.Artist.FullNameSrt</a>
    <p class="mrt10 justify color-silver">@Html.Raw(Model.Artist.AboutSrt)</p>


</div>
